<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<link href="~/Content/Css/Reset.css" rel="stylesheet" />*@
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
    <link href="~/Content/Css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @RenderSection("Top", required: false)

    <div id="wrapper">
        <h2 id="title-bid">@ViewBag.Title</h2>
        <div id="auction-wrapper">
            @RenderBody()
        </div>

        @RenderSection("Bottom", required: false)
    </div>

    <div id="dialog-message" title="Notification">
        <p>
            <span class="ui-icon ui-icon-circle-check"></span>
            <em>
                <!-- message -->
            </em>
        </p>
    </div>

    @RenderSection("Footer", required: false)

    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@

    <script src="~/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/app/app-main.js" type="text/javascript"></script>
    @RenderSection("JavaScripts", required: false)
</body>
</html>
